//
// Code (inline and block)
// --------------------------------------------------


// Inline and block code styles
code,
kbd,
pre,
samp {
  font-family: @font-family-monospace;
  transition: @transition-normal;
}

// Inline code ÐÐÄÚ´úÂë
code {
  padding: 0px 5px;
  font-size: @font-size-smaller;

     .text-variant(@code-color);
     .bg-variant(@code-bg);
     
    border-left: 5px solid #dcdcdc;
    border-right: 5px solid #dcdcdc;

 
  &:hover {
      color: @gray-darker;
    
    background: rgba(238,238,255,0.5);
    border-left: 5px solid #dcdcdc;
    border-right: 5px solid #dcdcdc;

  }
}

// User input typically entered via keyboard
kbd {
  padding: 2px 4px;
  font-size: @font-size-smaller;
  .text-variant(@kbd-color);
  .bg-variant(@kbd-bg);
  border-radius: @border-radius-small;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    box-shadow: none;
  }
}

// Blocks of code
pre {
  display: block;
  padding: @pre-padding;
  margin: 0 0 (@line-height-computed / 2);
  font-size: (@font-size-base - 1); // 14px to 13px
  line-height: @line-height-base;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: @border-radius-base;
  border-left: 5px ridge #c3c3c3;
    
  box-shadow: 0px 0 15px #c3c3c3;

  .text-variant(@pre-color);
  .bg-variant(@pre-bg);
  
  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
	
    border: none;
	
    &:hover {
	border: none;
    }
  }
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: @pre-scrollable-max-height;
  overflow-y: scroll;
}
