//== 常用形状

// 箭头
.shape-primary,
.shape-success,
.shape-fail,
.shape-todo,
.shape-done,
.shape-present {
    margin-right: 15px;
    padding: 4px 10px;
}

.shape-primary:after,
.shape-success:after,
.shape-todo:after,
.shape-done:after,
.shape-fail:after,
.shape-present:after {
    content: "";
	margin-left: 10px;
}

.shape-primary{
    .context-shape(@mark-primary-bg, @shape-size);
}

.shape-success {
    .context-shape(@mark-success-bg, @shape-size);
}
.shape-fail {
    .context-shape(@mark-fail-bg, @shape-size);
}

.shape-todo {
    .context-shape(@mark-good-bg, @shape-size);
}

.shape-done {
    .context-shape(@mark-done-bg, @shape-size);
}

.shape-present {
        .context-shape(@mark-info-bg, @shape-size);
}


// 冒泡对话框

.bubble-normal {
    padding: 50px;
   background: rgba(255,255,255,0.5);
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
.bubble-normal:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid rgba(255,255,255,0.5);
   border-bottom: 13px solid transparent;
}




