// Ô²½Ç

//ÉÏ±ßÔ²
.border-top-radius(@radius) {
  border-top-right-radius: @radius;
   border-top-left-radius: @radius;
}
// ÓÒ±ßÔ²
.border-right-radius(@radius) {
  border-bottom-right-radius: @radius;
     border-top-right-radius: @radius;
}
// µ×±ßÔ²
.border-bottom-radius(@radius) {
  border-bottom-right-radius: @radius;
   border-bottom-left-radius: @radius;
}
// ×ó±ßÔ²
.border-left-radius(@radius) {
  border-bottom-left-radius: @radius;
     border-top-left-radius: @radius;
}

// Èý½ÇÔ²£¬Ò»½Ç²»Ô²



